<!-- <div style="position: relative;">
  <div class="modal-bg">
      <div class="tabcontent-box no-padd small-alert">
          <div class="col-md-12 pull-left">
              <div class="box-content" *ngIf="campaign">
                  <br/>
                  <p class="box-title"><b>Are you sure?</b></p>

                  <p class="normal-text">{{campaign.varcharData}}</p>
                  <button (click)="deleteData()" class="icon-box pad-5-15 buttons danger-bg  pull-right mar-left-5">
                      Delete
                  </button>
                  <div class="clearfix"></div>
                  <br/>
              </div>
          </div>
          <br/>
      </div>
  </div>
</div> -->
