<!-- <div class="pad-5-15">
  <div class="tabcontent-box no-padd" *ngIf="campaign">
      <p class="box-title pad-15 box-header">
          <span class=" primary-color">Settings  Information</span>
          <button class="icon-box pad-5-15 buttons  pull-right mar-left-5">
              Cancel
          </button>
      </p>
      <br/>
      <div class="box-content">
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
          <div class="clearfix"></div>
          <br/>
          <div class="col-md-2 pull-left">
              <p class="primary-color mar-10-0">Patient Name</p>
              <p class="clearfix">{{campaign.varcharData}}</p>
          </div>
      </div>
      <div class="clearfix"></div>
      <br/>
  </div>
</div> -->
