<div class="" style="padding:20px 0;">
  <div class="row">
      <div class="col-md-2  pull-left tac">
          <a href="#"><img height="46px" src="/assets/images/logo.png"></a>
      </div>
      <div class="col-md-4 pull-left">
          <div class="care-box pull-left">
              <input type="text" autocomplete="off" class="care-input-area filter-area" value="" name="username" />
              <span class="care-placeholder">Search</span>
          </div>
          <button class="icon-box height-42 pad-0-25 pull-left">
              <i class="fa fa-search"></i>
          </button>
      </div>
      <div class="col-md-6">
          <a href="#" class="care-btn primary-bg-btn mb-3 pull-left mt-6"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD
              PATIENT</a>
          <i class="fa fa-bell icon-header pull-left bell-position"></i>

          <img src="/assets/images/user.png" class="profile-icon pull-right mar-10">
      </div>
  </div>
  <div class="clearfix"></div>
</div>
